<!--About me information-->
<div class="about" id="about" style="margin-top: 40px; background-color: #ECFAF9;">
  <div class="row text-center">
    <h1 style="color: #03A696;">About me</h1>
  </div>
  <div class="row justify-content-center" >
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 40px;">
        <img src="/images/camiloPhoto.jpg" class="card-img-top" alt="Camilo Photo" style="max-height:400px;">
        <div class="card-body">
          <h5 class="card-title">Who is this guy?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti voluptatibus nisi ea corrupti? Distinctio voluptatem, provident alias repellat accusantium ad, quasi quidem quos molestiae eum aspernatur asperiores ducimus harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quasi velit voluptas eum harum autem dignissimos id dolorum nisi veniam laudantium, placeat, nemo culpa pariatur itaque officia aliquid consectetur maxime.</p>
          <a href="/FinalResume.pdf" target="_blank" class="btn btn-primary">See my resume</a>
          <a href="..." class="btn btn-primary">Let's make something special</a>
        </div>
      </div>
  </div>
  </div>
</div>
