<!--About me information-->
<div class="hability">
  <div class="row justify-content-center" >
    <div class="col-md-10">
        <div class="row justify-content-center" >
          <div class="col-5">
            <img src="/assets/images/camiloPhoto.jpg" class="card-img-top" alt="Camilo Photo" style="max-height:200px;">
          </div>
        </div>
          <h5 style="margin-top:20px ;">Who is this guy?</h5>
          <p class="card-text">I'm a Centennial College Student,I'm enrrolled in software engineering technology, finishing my first year.
            I have serious passion for web development, UI desging, object-oriented programming, and DataBases</p>
          <div class="row  text-center">
            <div class="col-12">
              <a href="/assets/pdfs/FinalResume.pdf" target="_blank" class="btn btn-primary greenBtn" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">See my resume</a>
            </div>
            <div class="col-12">
              <a href="#contact" class="btn btn-primary greenBtn" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">Let's make something special</a>
            </div>
          </div>
      </div>
  </div>
</div>
