<!--About me information-->
<div class="about" >
  <div class="row justify-content-center" >
    <div class="col-md-10">
        <div class="row justify-content-center" >
          <div class="col-5">
            <img src="/assets/images/camiloPhoto.jpg" class="card-img-top" alt="Camilo Photo" style="max-height:200px;">
          </div>
        </div>
          <h5 style="margin-top:20px ;">Who is this guy?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti voluptatibus nisi ea corrupti? Distinctio voluptatem, provident alias repellat  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum veniam doloribus repel.</p>
          <div class="row  text-center">
            <div class="col-12">
              <a href="/assets/pdfs/FinalResume.pdf" target="_blank" class="btn btn-primary
              this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">See my resume</a>
            </div>
            <div class="col-12">
              <a href="..." class="btn btn-primary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">Let's make something special</a>
            </div>
          </div>
      </div>
  </div>
</div>
