<!-- contact page -->

<div class="container" id="contact">
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-top: 40px;">
            <h1>Contact</h1>
        </div>
        <div class="col-12 text-center">
            <h3 style="color:#04BF9D;">Have a question or want to work together?</h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name" aria-label="name" name="name" id="nameText" aria-describedby="basic-addon1">
            </div>
              
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Mail" aria-label="Mail" name="mail" id="mailText" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" placeholder="Your message" name="message" id="messageText"></textarea>
            </div>
            <input class="btn btn-outline-dark" type="submit" value="Submit" style="margin: 20px 0;">
        </div>
    </div>
</div>