<!--Home page information-->
<div class="container text-white" style="margin-top: 100px;" id="start">
    <div class="row justify-content-center">
      <div class="col col-md-auto ">
        <div class="card" style="background-color: #253659;">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Welcome to my portafolio</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eum, nihil iste repellat recusandae dolor sequi, iusto veritatis mollitia pariatur officia consectetur aliquam possimus, enim nemo fugiat quae aliquid praesentium! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio molestiae neque voluptas doloribus. Repellendus vel, veritatis, temporibus quas eaque, enim similique aut impedit rerum aspernatur libero? Optio eius voluptates expedita.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">My mission</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit esse, dolor, doloremque repudiandae dignissimos quam provident repellendus, impedit exercitationem sed aliquam tempora illo? Ut esse fugit eligendi illum! Magnam, et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed odio dolor dolore sapiente officia quia vitae, commodi quod ut repudiandae, neque minima rerum consequuntur, reprehenderit aut debitis voluptatibus facere!</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>