<!-- programming language section -->

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row">
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>HTML</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 80%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>CSS</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 70%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>JavaScript</h5>
            </div>
            <div class="col-9">
                        <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 80%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div> 
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>Node.Js</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 80%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>UI Design</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 50%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>MongoDB</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 70%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>SQL/PL</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 80%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>Java</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 80%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
            <div class="col-3 text-center " style="margin-bottom: 20px; background-color: #03A696; margin-right: -12px; color: #ffff;">
                <h5>C#</h5>
            </div>
            <div class="col-9">
                <div class="progress" style="height: 32px; border-radius: 0%;" >
                    <div class="progress-bar"  role="progressbar" aria-label="Example with label" style="width: 70%; background-color: #04BF9D; font-size: 20px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>
                    
        </div>
    </div>
</div>