<!-- projects section -->

<div class="conatiner" style="background-color: #E2EDF1;" id="projects">
    <div class="row justify-content-center">
        <div class="col-12 text-center" style="margin-top: 40px;">
            <h1>Projects</h1>
        </div>
    </div>
</div>