<% include partials/header.ejs %> <!-- Header of tha page -->

<%-include partials/nav.ejs%> <!-- Nav of the page --> 

<!--About me information-->
<div class="about">
  <div class="row text-center">
    <h1 style="color: #03A696; margin-top: 40px;">About me</h1>
  </div>
  <div class="row justify-content-center" >
    <div class="col-md-4">
      <div  style="margin-bottom: 40px;">
        <div class="row justify-content-center" >
          <div class="col-8">
            <img src="/assets/images/camiloPhoto.jpg" class="card-img-top" alt="Camilo Photo" style="max-height:300px;">
          </div>
        </div>
          <h5 style="margin-top:20px ;">Who is this guy?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti voluptatibus nisi ea corrupti? Distinctio voluptatem, provident alias repellat accusantium ad, quasi quidem quos molestiae eum aspernatur asperiores ducimus harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quasi velit voluptas eum harum autem dignissimos id dolorum nisi veniam laudantium, placeat, nemo culpa pariatur itaque officia aliquid consectetur maxime.</p>
          <a href="/assets/pdfs/FinalResume.pdf" target="_blank" style="width: 100%;" class="btn btn-primary greenBtn
            this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">See my resume</a>
          <a href="/contact" class="btn btn-primary greenBtn" style="width: 100%;" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">Let's make something special</a>
      </div>
  </div>
  </div>
</div>

<%-include partials/footer.ejs%> <!--Footer of the page-->
