<% include partials/header.ejs %> 
<div class="parallax">
  <div class="row h-100">
    <div class="col-md-12 align-self-center">
      <div class="text-center">
        <h2 class="intro" style="color: #ffff;">
          Hello, I am <strong style="color: #F27457;"> Juan Camilo Marmolejo.</Strong><br> I am a full stack developer.
        </h2>
        <a href="#nav"><button type="button" class="btn btn-outline-primary btn-lg">Let see more about me<i class="bi bi-arrow-down"></i></button></a>
      </div>
    </div>
  </div>
</div>
<%-include partials/nav.ejs%>

<div class="container text-white" style="margin-top: 100px;" id="start">
  <div class="row justify-content-center">
    <div class="col col-md-auto ">
      <div class="card" style="background-color: #253659;">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Welcome to my portafolio</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint eum, nihil iste repellat recusandae dolor sequi, iusto veritatis mollitia pariatur officia consectetur aliquam possimus, enim nemo fugiat quae aliquid praesentium! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio molestiae neque voluptas doloribus. Repellendus vel, veritatis, temporibus quas eaque, enim similique aut impedit rerum aspernatur libero? Optio eius voluptates expedita.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">My mission</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit esse, dolor, doloremque repudiandae dignissimos quam provident repellendus, impedit exercitationem sed aliquam tempora illo? Ut esse fugit eligendi illum! Magnam, et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed odio dolor dolore sapiente officia quia vitae, commodi quod ut repudiandae, neque minima rerum consequuntur, reprehenderit aut debitis voluptatibus facere!</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="about" id="about" style="margin-top: 40px; background-color: #ECFAF9;">
  <div class="row text-center">
    <h1 style="color: #03A696;">About me</h1>
  </div>
  <div class="row justify-content-center" >
    <div class="col-md-4">
      <div class="card">
        <img src="/images/camiloPhoto.jpg" class="card-img-top" alt="Camilo Photo" style="max-height:400px;">
        <div class="card-body">
          <h5 class="card-title">Who is this guy?</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti voluptatibus nisi ea corrupti? Distinctio voluptatem, provident alias repellat accusantium ad, quasi quidem quos molestiae eum aspernatur asperiores ducimus harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quasi velit voluptas eum harum autem dignissimos id dolorum nisi veniam laudantium, placeat, nemo culpa pariatur itaque officia aliquid consectetur maxime.</p>
          <a href="/FinalResume.pdf" target="_blank" class="btn btn-primary">See my resume</a>
          <a href="..." class="btn btn-primary">Let's make something special</a>
        </div>
      </div>
  </div>
  </div>

</div>
<%-include partials/footer.ejs%>
