 <% include partials/header.ejs %> <!-- Header of tha page -->

<div class="parallax">
  <div class="row h-100">
    <div class="col-md-12 align-self-center">
      <div class="text-center">
        <h2 class="intro" style="color: #ffff;">
          Hello, I am <strong style="color: #F27457;"> Juan Camilo Marmolejo.</Strong><br> I am a full stack developer. <!-- parallax content-->
        </h2>
        <a href="#nav"><button type="button" class="btn btn-outline-primary btn-lg">Let see more about me<i class="bi bi-arrow-down"></i></button></a>
      </div>
    </div>
  </div>
</div>

<%-include partials/nav.ejs%> <!-- Nav of the page --> 

<!--Home page information-->
<% include partials/home.ejs %> 

<!--About me information-->
<% include partials/about.ejs %> 

<% include partials/services.ejs %> 
<%-include partials/footer.ejs%> <!--Footer of the page-->
