 <% include partials/header.ejs %> <!-- Header of tha page -->

<!-- <div class="parallax">
  <div class="row h-100">
    <div class="col-md-12 align-self-center">
      <div class="text-center">
        <h2 class="intro" style="color: #ffff;">
          Hello, I am <strong style="color: #F27457;"> Juan Camilo Marmolejo.</Strong><br> I am a full stack developer. 
        </h2>
        <a href="#nav"><button type="button" class="btn btn-outline-primary btn-lg">Let see more about me<i class="bi bi-arrow-down"></i></button></a>
      </div>
    </div>
  </div>
</div> -->

<%-include partials/nav.ejs%> <!-- Nav of the page --> 

<!--Home page information-->
<div class="container text-white" style="margin-top: 40px;">
  <div class="row justify-content-center">
    <div class="col col-md-auto ">
      <div class="card" style="background-color: #253659;">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Welcome to my portafolio</h5>
              <p class="card-text">Hi there, welcome to camilo’s portfolio, my name is Juan Camilo Marmolejo. I am student from centennial college in Toronto, Canada; I am enrolled in software engineering technology where I am finishing my first year as student. Moreover, with this portfolio, I am showing my skills in web development, letting you know more about me as a person an student, displaying my services and how I can help you, showing my personal and educative projects and a contact section if you are interesting in my services. Take a look for all the pages and you will know that I could help you.</p>
              <a href="/about" style="width: auto;" class="btn btn-primary greenBtn
              this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">More about me</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">My mission</h5>
              <p class="card-text">
                My mission is that the people can know more about me, about my talents, skills, preference and projects where I demonstrate why I’m a good option for them. I am displaying my skills but also I am showing you that I know in the practice. I hope you enjoy my user-friendly portfolio and want to contact me for more information or for my services, I want to be part of something bigger with my knowledge I would do a perfect job in any area from software development .</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 50px;">
<%-include partials/footer.ejs%> <!--Footer of the page-->
</div>
