/* Portfolio Juan Camilo Marmolejo 301223791 01/10/2022 */
/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 

body{
    overflow-x: hidden;
    font-family: 'Abel', sans-serif;
 }

 /* fixed navbar */
 .fixed{
  width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
  z-index: 100;
 }

 /* parallax intro */
.parallax{
    background-color: #253659;
    height: 1000px;
    margin: 0;
    background-attachment:fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* about me bottons */
.greenBtn{
    width: 300px;
    background-color: white; 
    margin-top: 10px;
    border: 3px solid #03A696; 
    color: #03A696;
}
.styleBtn{
  background-color: white; 
  border: 3px solid #03A696; 
  color: #03A696;
}

/* about me shapes */
#hexagon {
    width: 100px;
    height: 57.735px;
    background: #03A696;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #03A696;

  }
  #hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #03A696;
  }
  
/* margin between progress lines */
.line{
  margin-bottom: 5px;
}


/* Color table  */
table tr:nth-child(odd) td{
  background: #ffff;
}
table tr:nth-child(even) td{
   background:#04BF9D;
}

.navbar-text{
  text-align: right;
}