<%- include ../partials/header.ejs %>

<%- include ../partials/nav.ejs %>
  

  <!-- Main Content -->
  <main> 
    <!-- message area -->
    <% if(messages !== ""){%>
        <% messages.forEach(item => { %>
            <div class="alert alert-danger">
                <%= item %>
            </div>
        <% }) %>
    <%}%>
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center">Please LogIn</h1>
            <form method="POST" autocomplete="off">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" required>
                </div>
               
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" aria-label="password" name="password" required>
                </div>
    
                <p style="margin-top: 10px;" >New user? <a href="/registration" style="color: black;">Registrate</a></p>
                <div class="row text-center">
                    <div class="col-12">
                        <input type="submit" value="LogIn" style="width: 50%; margin-top: 5px;" class="btn btn-primary greenBtn
                        this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-outline-warning" href="/" role="button" style="margin: 10px 0; width: 50%;">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </main>
  

<%- include ../partials/footer.ejs %>
  



