<%- include ../partials/header.ejs %>

<%- include ../partials/nav.ejs %>
  

  <!-- Main Content -->
  <main> 
    <!-- message area -->
    <% if(messages.lenght > 0){%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <%}%>
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center">Please Registrate</h1>
            <form method="POST" autocomplete="off">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" required>
                </div>
               
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" aria-label="password" name="password" required>
                </div>
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Full name" aria-label="name" name="displayName" required>
                </div>
                <p style="margin-top: 10px;" >Already user? <a href="/login" style="color: black;">LogIn</a></p>
                <div class="row text-center">
                    <div class="col-12">
                        <input type="submit" value="Registrate" style="width: 50%; margin-top: 5px;" class="btn btn-primary greenBtn
                        this.stystyle.borderColononmouseoutrimary" onmouseover="this.style.backgroundColor='#03A696'; this.style.borderColor='#03A696';" onmouseout="this.style.backgroundColor='#ffff'">
                    </div>
                    <div class="col-12">
                        <a class="btn btn-outline-warning" href="/contact-list/"  style="width: 50%; margin: 10px 0;" role="button">Cancel</a>
                    </div>                 
                </div>
            </form>
        </div>
    </div>
  </main>
  

<%- include ../partials/footer.ejs %>